.footer {
    font-size: 14px;
    color: var(--footerColor);
    background-color: var(--footerBackgroundColor);

    .container {
        max-width: 1140px;
        min-width: 320px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        @media screen and (max-width: 1175px){
            margin: 0 10px;
        }
    }

    &__item {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}