.predictions {
    display: flex;
    flex-direction: column;

    &__with-trash {
        font-size: 13px;
        color: var(--mainPagePredictionsColorWithTrash);
        text-align: right;
        margin-bottom: 2px;
    }

    &__without-trash {
        @extend .predictions__with-trash;
        color: var(--mainPagePredictionsColorWithoutTrash);
        margin-bottom: 6px;
    }

    &__canvas {
        margin-bottom: 20px;
    }

    &__amount {
        font-size: 18px;
        line-height: 1.3;

        .bold {
            font-weight: bold;
        }
    }

    &__rate {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}