:root {
    --white: #fff;
    --black: #000;
    --grey:#b3b3b3;

    --fontFamily: "Inter", sans-serif;
    --backgroundColor: #f0f0f0;
    --color: #333333;

    --headerBackgroundColor: #fff;
    --headerBorderBottomColor: #b3b3b380;
    --headerNavHoverBackgroundColor: #e6e6e6;

    --footerBackgroundColor: #1F2225;
    --footerColor: #BBCDD6;
}