@use '../../mixins.scss';

.container {
    
    .uploading {
        max-width: 700px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;


        &__item {
            display: flex;
            gap: 20px;

            .item__method {
                
                .method__title {
                    margin-bottom: 8px;
                }

                .method__buttons {

                    .buttons__button {
                        width: 140px;
                        padding: 8px 0;
                        font-size: 16px;
                        color: var(--color90);
                        background-color: var(--white);
                        border: 1px solid var(--mainPageMethodButtonBorderColor);

                        &:hover {
                            background-color: var(--mainPageMethodButtonBackgroundColorHover);
                        }
                    }

                    .file {
                        border-right: none;
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                    }

                    .url {
                        border-left: none;
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }

                    .button_active {
                        color: var(--white);
                        background-color: var(--mainPageMethodButtonBackgroundColorActive);
                        border-color: transparent;

                        &:hover {
                            &:hover {
                                background-color: var(--mainPageMethodButtonBackgroundColorActiveHover);
                            }
                        }
                    }
                }
            }

            .item__file {

                .file__title {
                    margin-bottom: 8px;
                }

                .file {

                }

                .url {
                    width: 400px;
                    padding: 8px 5px;
                    font-size: 16px;
                    color: var(--color70);
                    border: 1px solid var(--mainPageMethodButtonBorderColor);
                    @include mixins.border-radius(4px);

                    &::placeholder {
                        opacity: 0.5;
                    }
                }
            }
        }

        &__model {
            .model__title {
                margin-bottom: 8px;
            }

            div {
                display: flex;
                align-items: center;

                .model__select {
                    width: 400px;
                    padding: 8px 5px;
                    font-size: 16px;
                    color: var(--color90);
                    border: 1px solid var(--mainPageMethodButtonBorderColor);
                    @include mixins.border-radius(4px);
                }

                .info__wrapper {
                    position: relative;
                    margin-left: 10px;

                    .info__icon {
                        font-size: 24px;
                        color: var(--color);
                        @include mixins.transition(color, 0.2s);

                        &:hover {
                            color: var(--mainPageMethodButtonBackgroundColorActiveHover);
                        }
                    }

                    .info__text {
                        visibility: hidden;
                        position: absolute;
                        top: -30%; 
                        left: 100%;
                        @include mixins.transform(translateX(5%));
                        min-width: 200px;
                        padding: 8px 12px;
                        background: var(--color);
                        color: var(--white);
                        font-size: 14px;
                        @include mixins.border-radius(4px);
                        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
                        z-index: 10;
                        text-align: center;
                        opacity: 0;
                        @include mixins.transition(opacity, 0.2s);
                    }

                    &:hover {
                        .info__text {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }

            }

            .model__description {
                display: none;
            }
        }

        &__params {
            display: flex;
            gap: 50px;
        }

        &__image {

        }

        &__button {
            display: flex;
            gap: 5px;
        }
    }
}

